<!-- Title & Searchbox-->

      


<div class="container default-padding">
  <h4 class="text-center">Application</h4>

  <div class="row">
    <div class="col-3">
          <!-- Filters -->
          <div class="row">
            <div class="col-12">
              <app-search-box
                [active]= "searchQuery"
                (keyup)="changeSearchQuery($event.target.value)"
              ></app-search-box>
            </div>
            <div class="col-12 dropdown">
                <div class="form-group">
                  <label>Nationality</label>
                  <app-select 
                  [items]="nationalities"
                  [selectedItem]= "selectedNationality"
                  (change)="changeSelectedNationality($event.target.value)"
                  ></app-select>
                </div>
              
            </div>
            <div class="col-12 dropdown">
                <div class="form-group">
                  <label>Gender</label>
                  <app-select 
                  [items]="genders"
                  [selectedItem]= "selectedGender"
                  (change)="changeSelectedGender($event.target.value)"
                  ></app-select>
                </div>
            </div>
          </div>
    </div>
    <div class="col-9">
      <div class="alert alert-primary" *ngIf="(loading | async)">
          Loading...
      </div>
      
      <!-- Main -->
      <main class="main">
          <div class="container">
            <div class="row">
              <div class="alert alert-danger" *ngIf="!(loading | async) && (data | async).length < 1">No user found</div>
              <div class="col-4" *ngFor="let item of (data | async)">
                  <div class="card mb-2">
                      <img class="card-img-top" src="{{item.picture.large}}" alt="{{ item.name.title }}. {{ item.name.first }} {{ item.name.last }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ item.name.title }}. {{ item.name.first }} {{ item.name.last }}</h5>
                        <dl class="row">
                            <dt class="col-sm-6">Gender</dt>
                            <dd class="col-sm-6">{{ item.gender }}</dd>
                            <dt class="col-sm-6">Nationality</dt>
                            <dd class="col-sm-6">{{ item.nat }}</dd>
                          </dl>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </main>
    </div>
  </div>
</div>
